name: workflow-last

on:
  push:
    branches:
      - main
      - 'releases/**'
  workflow_dispatch:

jobs:
  workflow_last:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Before waiting for workflows to complete
        run: date

      - name: Pause until all workflows are completed
        uses: ./
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          timeout: 60
          interval: 10
          initial_delay: 30
          associated_workflows: true
          workflows: |
            workflow-1

      - name: Resume and run once, after all workflows are completed
        run: date
